<%include partials/header.ejs%>
<h1>Log In</h1>
<form action="/login" method="post">
    
            <div class="form-group"><input class="form-control" placeholder="username" type="text" name="username"></div>
            <div class="form-group"><input class="form-control" placeholder="password" type="password" name="password"></div>
            <div class="form-group"><input class="form-control btn btn-primary" type="submit" text="Submit"></div>
</form>
<%include partials/footer.ejs%>